<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title th:text="${competitor.name}"> Competitor </title>
    </head>
    <body>
        <h1 th:text="${competitor.name}"> Competitor name </h1>

        <h2>Competitor information</h2>

        <div>
            Name: <span th:text="${competitor.name}"/><br/>
            Club: <span th:text="${competitor.club}"/><br/>
            Emit: <a th:if="${competitor.emit != null}" th:href="@{/emits/{emitId}(emitId=${competitor.emit.id})}" th:text="${competitor.emit.number}"/>
            <form action="#" th:action="@{/competitors/{competitorId}(competitorId=${competitor.id})}" th:object="${emit}" method="POST">
                Emit number: <input type="text" th:field="*{number}"/>
                <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number error message</span><br/>
                <input type="submit"/>            
            </form><br/> 
        </div>
        <form th:action="@{/competitors/{competitorId}(competitorId=${competitor.id})}" th:method="DELETE">
            <input type="submit" value="Remove" th:id="${'remove-' + competitor.id}"/>
        </form><br/>

        <a th:href="@{/index}" th:text="Index">View index</a>
    </body>
</html>