<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title th:text="${emit.number}"> Emit </title>
    </head>
    <body>
        <h1 th:text="${emit.number}"> Emit number </h1>

        <h2>Emit information</h2>

        <div>
            Number: <span th:text="${emit.number}"/><br/>
            Owner: <a th:if="${emit.owner != null}" th:href="@{/competitors/{competitorId}(competitorId=${emit.owner.id})}" th:text="${emit.owner.name}"/><br/>
            Emit punches:     
            <ol>
                <li th:each = "punch : ${emit.emitPunches}">
                <span th:text="${punch.punchCode}">punch code</span>
                <span th:text="${punch.punchTime}">punch timestamp</span>
                <form th:action="@{/emits/{emitId}/punches/{punchId}(emitId=${emit.id}, punchId=${punch.id})}" th:method="DELETE">
                    <input type="submit" value="Remove punch" th:id="${'remove-' + punch.id}"/>
                </form>
                </li>
            </ol>
            Add new emit punch:
            <form  action="#" th:action="@{/emits/{emitId}(emitId=${emit.id})}" th:object="${emitPunch}" method="POST">
                Punch code: <input type="text" th:field="*{punchCode}"/>
                <span th:if="${#fields.hasErrors('punchCode')}" th:errors="*{punchCode}">Punchcode error message</span><br/>
                Timestamp: <input type="datetime-local" step="1" th:field="*{punchTimeString}"/>
                <span th:if="${#fields.hasErrors('punchTimeString')}" th:errors="*{punchTimeString}">Timestamp error message</span><br/>
                <input type="submit"/>            
            </form>
        </div>
        <form th:action="@{/emits/{emitId}(emitId=${emit.id})}" th:method="DELETE">
            <input type="submit" value="Remove emit" th:id="${'remove-' + emit.id}"/>
        </form><br/>
        
        <a th:href="@{/index}" th:text="Index">View index</a>
        <a th:href="@{/competitions}" th:text="Competitions">View competitions</a>
        <a th:href="@{/competitors}" th:text="Competitors">View competitions</a>
        <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/emits}" th:text="Emits">View emits</a>
    </body>
</html>